{% load static %}
<!DOCTYPE html>
<html class="js opacity generatedcontent pointerevents js opacity generatedcontent pointerevents">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Baliqchi tumani hokimligi rasmiy veb-sayti</title>
        <meta name="description" content="Baliqchi tumani hokimligi rasmiy veb-sayti">
        <meta name="keywords" content="Baliqchi tumani hokimligi rasmiy veb-sayti">
        <link rel="search" type="application/opensearchdescription+xml" title="Baliqchi tumani hokimligi rasmiy veb-sayti">
        <link rel="canonical" href="https://baliqchi.uz/">
        <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css">
        <script type="text/javascript" async="" src="{% static 'js/ba.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jqueryui.js' %}" defer=""></script>
        <script src="{% static 'js/dle_js.js' %}" defer=""></script>

        <meta name="robots" content="index, follow">
        <meta name="keywords" content="Baliqchi tumani hokimligi">
        <meta name="description" content="Baliqchi tumani hokimligi rasmiy veb sayti">
        <link href="{% static 'css/uhpv-full.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'css/template.css' %}" type="text/css" data-template-style="true" rel="stylesheet">
        <script type="text/javascript" async="" src="{% static 'js/ba(1).js' %}"></script>
        <script type="text/javascript" src="{% static 'css/jquery.min.js' %}"></script>

        <script src="{% static 'js/uhpv-full.min.js' %}"></script>
        <script>
            var uhe = 2,
                lng = "ru",
                has = 0,
                imgs = 1,
                bg = 1,
                hwidth = 0,
                bgs = [1, 2],
                fonts = [19, 22, 25, 28];

            function initPlugin() {
                uhpv(has);
            }
            document.addEventListener("DOMContentLoaded", initPlugin);
            lgs["ru"] = {
                1: "Ko'rsatish",
                2: "O'chirish",
                3: "Matn kattaligi:",
                4: "Tasvirlar:",
                5: "Fon:",
                6: "O'chirish",
                7: "А",
                8: "Х",
            };
        </script>

        <script type="text/javascript">
            var _ba = _ba || [];
            _ba.push(["aid", "4bbefc75e017524290a902e4729ec919"]);
            _ba.push(["host", "ncpi.gov.by"]);
            (function () {
                var ba = document.createElement("script");
                ba.type = "text/javascript";
                ba.async = true;
                ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(ba, s);
            })();
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/chosen.css' %}">
        <!-- Template CSS -->
        <link rel="stylesheet" href="{% static 'css/template.min.css' %}">
    </head>

<body>
    <style>
        marquee{
            background-color:rgb(0,154,197);
            color:white;
            font-size: 20px;
        }
        html{
            padding:0;
        }
    </style>
    <!-- <div class="header__right-row">
        <div class="header__lang">
            <div class="header-lang" id="languages">
                <a class="header-lang__link link" id="latinica" style="cursor: pointer;" onclick="" title="o'zbek lotin alifbosiga o'tish">
                    lotin
                </a>
                <a class="header-lang__link link" id="cirilica" style="cursor: pointer;" onclick="" title="o'zbek kiril alifbosiga o'tish">
                    кирил
                </a>
            </div>
        </div>
    </div> -->
    <header tyle="margin:0px;padding:0px;">
        <!-- <section id="headerTop">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 headerTopLeft">
                        <div class="language-box">
                            <ul class="language-lg">
                                <li>
                                    <img src="/media/img/mobile.png" style="width: 20px;vertical-align: -5px;"> &nbsp;
                                    <a href="#">Mobile versiya</a>
                                </li>
                                <li>
                                    <img src="/media/img/faq.jpg" style="width: 20px;vertical-align: -7px;"> &nbsp;
                                    <a href="">Savol-javoblar</a>
                                </li>
                            </ul>
                            <div id="languageMobile" class="language-sm" tabindex="1">
                                <span><a href="#">Bog'lanish</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 headerTopRight">
                        <a class="siteMap" href="">
                            <span class="icon_sitemap">&nbsp;</span>
                            <span class="lebel">Sayt xaritasi</span>
                        </a>
                        <a href="javascript://" class="version" alt="Saytning mahsus versiyasi">
                            <span class="icon_glasses">&nbsp;</span>
                            <span class="lebel">Saytning mahsus versiyasi</span>
                        </a>
                    </div> 
                </div>
            </div>
        </section> -->
        <section id="blueheader">
            <div class="contentFullwidth">
                <marquee>Web-sayt test rejimida ishlamoqda</marquee>
                <div class="header__lang">
                    <div class="header-lang" style="text-align: right; margin-right:20px;" id="languages">
                        <a class="header-lang__link link" id="latinica" style="cursor: pointer;" onclick="" title="o'zbek lotin alifbosiga o'tish">
                            lotin
                        </a>
                        <a class="header-lang__link link" id="cirilica" style="cursor: pointer;" onclick="" title="o'zbek kiril alifbosiga o'tish">
                            кирил
                        </a>
                    </div>
                </div>
                <div class="headerbluebar"></div>
                <div class="headerwhitebar"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <div class="logo">
                                <a href="/">
                                    <style>
                                        .main{
                                            display: flex;
                                        }
                                        .main .box{
                                            float:left;
                                            vertical-align: middle;

                                        }
                                        
                                        .main .box:nth-child(2){
                                            padding:10px;
                                            color:white;
                                        }
                                        .main .box:nth-child(1) img{
                                            height:80% !important;
                                        }
                                        /* CSS for mobile screens */
                                        @media only screen and (max-width: 767px) {
                                            .box img {
                                                height:100px !important;
                                                height:auto;
                                            }
                                            .main .box h3, .main .box h4{
                                                font-size: 1rem;
                                            }
                                        }
                                        @media only screen and (max-width: 992px) {
                                            .box img {
                                                height:100px !important;
                                                height:auto;
                                            }
                                        }
                                    </style>
                                    <div class="main">
                                        <div class="box">
                                            <img src="https://paxtaobodpress.uz/media/img/imag/logo.png" alt="">
                                        </div>
                                        <div class="box" style="text-transform: uppercase;">
                                            <h3>Baliqchi tumani hokimligi</h3>
                                            <h4>Rasmiy web sayti</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="rightBox clearfix">
                                <div class="float-right d-xl-none searchBox">
                                    <form>
                                        <input class="search_input" type="text" placeholder="Izlash..." name="search">
                                    </form>
                                    <button class="search_btn">
                                        <img src="/media/img/icon_search_white.png" alt="Искать">
                                    </button>
                                </div>
                                <div class="float-right d-none d-xl-block">
                                    <div class="detailBox">
                                        <div class="cellnum">(90) 988-45-42 / (33) 806-16-11</div>
                                        <div class="email"><a style="color: #fff;"
                                                href="mailto:fayzulloasqarov2001@gmail.com">fayzulloasqarov2001@gmail.com</a>
                                        </div>
                                        <div class="manzil">Mustaqillik ko‘cha, 74 uy</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                    aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainmenu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="main-menu">
                        {% for kategory in urls %}
                            <li class="dropdown parent">
                                <a href="#">{{ kategory.nomi }}</a>
                                <ul class="dropdown-menu">
                                    {% for url in kategory.children.all %}
                                        <li class="dropdown parent">
                                            <a href="{% url 'toplam' %}?code={{ url.code }}">{{ url.nomi }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- <div id="mm-search" class="d-none d-xl-block searchBox">
                        <form id="q_search" method="post">
                            <input id="title-search-input" type="text" name="story" value="" class="search_input"
                                autocomplete="off" placeholder="Saytdan ma&#39;lumot izlash">
                            <input id="mm-submit" name="s" type="submit" value="Izlash">
                            <input type="hidden" name="do" value="search">
                            <input type="hidden" name="subaction" value="search">
                        </form>
                        <button class="search_btn"><img
                                src="http://yangiarikhokimiyat.uz//templates/Reflex/images/icon_search_gray.svg"
                                width="19" alt="btn"></button>
                    </div> -->
                </div>
            </div>
        </nav>
    </header>
        {% block content %}
        {% endblock content %}
        <section id="sectionbluebg" style="margin-bottom: 0;">
            <div class="container">
                <div class="row">
                    
                    <div class="address_wrap">
                        <div class="map_boxwrap">
                            <h3>Biz bilan bog'lanish</h3>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d311.8648185648126!2d71.83212126998137!3d40.89877348949806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb5b06eff867d7%3A0x82a606be3c8aade4!2sBaliqchi%20tumani!5e1!3m2!1sru!2s!4v1684311655803!5m2!1sru!2s" width="400" height="272" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div class="address_info">
                            <ul>
                                <li class="map_icon">Manzil : Balqichi tuman Baliqchi Shox ko`cha 32-uy</li>
                                <li class="clock_icon">Ish tartibi: 9:00 - 18:00, tushlik 13:00-14:00, dam olish kunlari: shanba va yakshanba</li>
                                <li class="phone_icon">
                                    Telefon: (kod 74) 323 22 11<br>
                                    Faks: (kod 74) 323 22 11
                                </li>
                                <li class="mail_icon"><a href="mailto:Baliqchi@exat.uz">Email: Baliqchi@exat.uz</a></li>
                                <li class="account_icon">
                                    Mo'ljal: "Mustaqillik" madaniyat va istirohat bog'i ro'parasi<br>
                                    Pochta indeksi: 170300<br>
                                </li>
                            </ul>
                        </div>
                        <div class="map_boxwrap">
                            <img src="/media/IMG_3206.JPG" width="400px" height="400px" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <footer>
            <section id="b-info">
                <div class="container">
                    <div class="row">
                        <div class="footer-menu col-12">
                            <ul>
                                {% for kategory in urls %}
                                    <li>
                                        <a href="{{ kategory.slug }}">{{ kategory.nomi }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-1 back-top"><span class="totop">&nbsp;</span></div>
                    </div>
                </div>
            </section>
            <section id="b-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="b-rightholder">© Baliqchi tumani hokimligi rasmiy veb-sayti. 2023-yil.</div>
                        </div>
                        <div class="col-3">
                            <div class="b-developer">Sayt: <a href="" target="_blank">"INFINITE CO" MCHJ</a> tomonidan ishlab chiqildi.</div>
                        </div>
                        
                    </div>
                </div>
            </section>
            
        </footer>
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/additional-methods.min.js' %}"></script>
        <script src="{% static 'js/slick.js' %}"></script>
        <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
        <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/dev.js' %}"></script>
        <script src="https://paxtaobodpress.uz/static/js/cyrlatconverter.js" ></script>
    </body>
</html>
